.invalidh1{
    font-family: "vazir-bold";
    font-size: 60px;
    text-align: center;
    margin-top: 250px;
}
.invalida{
    font-family: vazir-medium;
    font-size: 140%;
    text-decoration-line: none;
    background-color: #179e7e;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: #fff;
    margin-left: 650px;
    margin-top: 440px;
}