html{
    font-family: vazir-medium;
    direction: rtl;
}
* {
    box-sizing: border-box;
}

/*header*/

.hheader{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 0;
}
.menuuuu{
    width: 20%;
    position: fixed;
    background-color: #1f1f1f;
    margin: auto;
    height: 100%;
    overflow: scroll;
}
.menuuuu a{
    margin: .5rem;
    padding: .5rem;
    color: #fff;
    line-height: 1.3;
    text-decoration-line: none;
    display: block;
    font-family: vazir-thin;
    font-size: 100%;
    cursor: pointer;
}
.menuuuu h3{
    margin: 1rem .5rem;
    padding: .5rem;
    color: #fff;
    font-family: vazir-bold;
    font-size: 150%;
}
.menuuuu a:hover{ 
    background-color: rgb(45, 91, 91);
    border-radius: 6px;
    transition: all 9ms ease-in;
}
.hheader .icon{
    width: 80%;
    margin-left: 80%;
}
.hheader .icon img{
    width: 100%;
    padding: 0  0 0 .7rem;
}

.logiii p{
    display: inline;
    margin: 3%;
    font-size: 100%;
    color: #1f1f1f;
    padding: .2rem .8rem;
    border: 2px solid #000;
    border-radius: 5px;
    font-family: vazir-thin , 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
@media (max-width:666px) {
    .hheader .icon{
        width: 30%;
    }
    .hheader .logiii{
        width: 70%;
    }
    .hheader .icon img{
        width: 100%;
    }
}
@media (max-width:496px) {
    .klkl{
        display: none;
    }
    .hheader .icon img{
        width: 150%;
    }
}


/*main*/

.hello{
    width: 80%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
}
.main{
    display: flex;
    flex-direction: row;
    margin: 1rem 2rem 5rem;
}
.main .gorilla{
    width: 40%;
    align-self: center;
}
.main .gorilla img{
    width: 80%;
}
.main .bear{
    width: 60%;
    align-self: center;
}
.main .bear h3{
    font-family: vazir-bold;
    font-size: 200%;
    line-height: 1.4;
}
.main .bear p{
    font-family: vazir-medium;
    font-size: 120%;
    line-height: 2;
}

@media (max-width:1010px) {
    .main{
        flex-direction: column;
        margin-top: 2rem;
    }
    .mainn{
        flex-direction: column-reverse;
    }
    .main .gorilla{
        width: 60%;
        margin: 0 10% 0 0;
    }
    .main .bear{
        width: 80%;
        padding-left: 0 !important;
    }
}



/*footer*/

.footer{
    background-color: #1f1f1f;
    margin-left: 20%;
}
.ffooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content:space-between ;
}
.ffooter .iconn{
    display: flex;
    width: 50%;
    flex-direction: row;
    margin: 1.5rem 1rem 2.5rem 0;
}
.ffooter .iconn h3{
    color: #fff;
}
.ffooter .iconn img{
    width: 3rem;
    margin-left: .5rem;
} 
.ffooter .team{
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: 1.5rem 0 2.5rem;
}
.ffooter .team h3{
    color: #fff;
}
.ffooter .team a{
    color: #525252;
    text-decoration-line: none;
}
.media{
    display: flex;
    margin: 5rem 10% 3rem 0;
}
.media .bale a img{
    width: 2rem;
    margin-left: 1.5rem;
}
.media .telegram a img{
    width: 2rem;
}
.c p{
    color: #fff;
    text-align: center;
    padding-bottom: .7rem;
    margin: 0 2rem;
}


@media (max-width:968px) {
    .menuuuu a{
        font-size: 80%;
    }
    .menuuuu h3{
        font-size: 100%;
    }
}
@media (max-width:768px) {
    .menuuuu a{
        font-size: 60%;
    }
    .menuuuu h3{
        font-size: 80%;
    }
}
@media (max-width:568px) {
    .menuuuu{
        width: 30%;
    }
    .icon{
        width: 70%;
    }
    .footer{
        margin-left: 30%;
    }
}
.hheader .sing{
    font-size: 20px;
    font-family: "vazir-bold";
    color: red;
}