.password-change div{
    display:flex;
}
.password-change a{
    font-size: 70%;
    color: #1f1f1f;
    font-family: vazir-regular;
    text-decoration-line: none;
    display: flex;
}
.password-change p{
    font-size: 70%;
    color: #1f1f1f;
    margin: 0 .3rem;
    font-family: vazir-regular;
    display:flex;
}
.password-change{
    display: flex;
}
.form .btn{
    cursor: pointer;
}