{% load static %}
<!DOCTYPE>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML</title>
    <link rel="stylesheet" href="{% static './style/reset.css' %}">
    <link rel="stylesheet" href="{% static './style/font.css' %}">
    <link rel="stylesheet" href="{% static './style/pagesStyle.css' %}">

</head>

<body>
    
    <header class="header">
        <div class="hheader">
            <div class="icon logiii">
                <img src="{% static './FilmPicture/logo.png' %}" alt="">
                
            </div>
            <div class="menuuuu">
                <h3>معرفی</h3>
                <a href="#a">HTML چیست ؟</a>
                <a href="#b">HTML زبان برنامه نویسی است ؟</a>
                <a href="#c">زبان نشانه گذاری HTML</a>
                <a href="#d">HTML مخفف چیست ؟</a>
                <a href="#e">تگ های HTML چه هستند ؟</a>
                {% if user.is_authenticated %}
                <h3>آموزش ها</h3>
                <a href="#f">آموزش 1</a>
                <a href="#g">آموزش 2</a>
                <a href="#h">آموزش 3</a>
                <a href="#i">آموزش 4</a>
                <a href="#j">آموزش 5</a>
                <a href="#k">آموزش 6</a>
                <a href="#l">آموزش 7</a>
                <a href="#m">آموزش 8</a>
                <a href="#n">آموزش 9</a>
                <a href="#o">آموزش 10</a>
                <a href="#p">آموزش 11</a>
                <a href="#q">آموزش 12</a>
                <a href="#r">آموزش 13</a>
                {% else %}
                <a class="sing" href="{% url 'signup' %}">برای دسترسی به آموزش ها لطفا ابتدا ثبت نام کنید </a>
                {% endif %}
            </div>
        </div>
    </header>

    <main>
        
        <div class="logiii">
            {% if user.is_authenticated %}
            <p class="user">سلام {{ user.username }}</p>
            {% else %}
            {% endif %}
        </div>

            <div class="hello">

                <div class="main" id="a">
                    <div class="gorilla">
                        <img src="{% static './FilmPicture/htmllogoo.webp' %}" alt="">
                    </div>
                    <div class="bear">
                        <h3>HTML چیست؟</h3>
                        <p>زبان برنامه نویسی HTML در اصل «زبان نشانه‌گذاری» استاندارد برای ایجاد صفحات وب است. HTML یک زبان ساده با ساختاری شفاف به حساب می‌آید و آموزش آن حتی برای افرادی که به تازگی قصد شروع یادگیری ساخت وب‌سایت را دارند، بسیار ساده است. سوال HTML چیست ممکن است برای افراد بسیاری مطرح باشد؛ چرا که HTML را می‌توان پایه و اساس وب و حتی اینترنت در نظر گرفت.</p>
                    </div>
                </div>

                <div class="main mainn" id="b">
                    <div class="bear" style="padding-left: 5rem;">
                        <h3>HTML زبان برنامه نویسی است؟</h3>
                        <p>لازم است به این مسئله توجه داشت که HTML‌ زبان برنامه نویسی نیست، بلکه یک زبان نشانه‌گذاری (Markup) است که ساختار محتوا را تعیین می‌کند. HTML دارای منطق برنامه نویسی نیست و عاری از عبارات شرطی مثل If و Else‌ است. در HTML‌ نمی‌توان متغیر تعریف کرد و تابع نوشت. امکان مدیریت رویدادها یا انجام وظایف در HTML وجود ندارد. با HTML به هیچ وجه نمی‌توان داده‌ها را تغییر داد یا آن‌ها را ویرایش کرد.</p>
                    </div>
                    <div class="gorilla">
                        <img src="{% static './FilmPicture/HTML-Chist.jpg' %}" alt="">
                    </div>
                </div>
                
                <div class="main" id="c">
                    <div class="gorilla">
                        <img src="{% static './FilmPicture/htmlkk.jpg' %}" alt="">
                    </div>
                    <div class="bear">
                        <h3>زبان نشانه گذاری HTML</h3>
                        <p>HTML‌ یک نوع زبان نشانه گذاری است. یعنی HTML داده‌ها را محصور می‌کند یا آن‌ها را در داخل تگ‌های (برچسب‌های) HTML «علامت‌گذاری» می‌کند. این نشانه‌گذاری، هدف داده را تعریف و تفسیر می‌کند. سپس، مرورگر وب کدهای HTML‌ را می‌خواند و این کدها محل مؤلفه‌هایی مثل عنوان‌ها، پاراگراف‌ها، لینک‌ها و سایر موارد را برای مرورگر مشخص می‌کنند. در واقع، HTML داده را برای مرورگر توصیف می‌کند تا مرورگر وب بتواند داده‌ها را به شکل مناسبی نمایش دهد.</p>
                    </div>
                </div>
                
                <div class="main mainn" id="d">
                    <div class="bear" style="padding-left: 2rem; ">
                        <h3>
                            HTML مخفف چیست ؟
                        </h3>
                        <p>HTML‌ سرنامی برای عبارت HyperText Markup Language به معنی زبان نشانه‌گذاری ابرمتن است. مفهوم دو کلمه HyperText و Markup ممکن است در ابتدا پیچیده و گنگ به نظر برسد، بنابراین، در ادامه این بخش توضیحات بیش‌تر درباره هر کدام ارائه شده است.</p>
                    </div>
                    <div class="gorilla">
                        <img src="{% static './FilmPicture/html j .jpg' %}" alt="">
                    </div>
                </div>
                
                <div class="main" id="e">
                    <div class="gorilla">
                        <img src="{% static './FilmPicture/HTML-Tags.jpg.webp' %}" alt="">
                    </div>
                    <div class="bear">
                        <h3>تگ های HTML‌ چه هستند ؟</h3>
                        <p>این تگ های HTML‌ است که یک متن معمولی را از کد HTML‌ تفکیک می‌کنند. تگ‌ها یا برچسب‌های HTML بین یک علامت کوچک‌تر و یک علامت بزرگ‌تر یا در واقع در داخل پرانتز گوشه‌‌دار (Angle-Bracket) مثل <angle bracket> قرار می‌گیرند. امکان قرار دادن همه نوع چندرسانه مثل عکس، جدول و موارد دیگر در‌ یک صفحه وب، به وسیله تگ‌های HTML وجود دارد. تنها لازم است آنچه که مرورگر باید در صفحه رندر (Render | پردازش) کند را تعیین و مشخص کرد.</p>
                    </div>
                </div>
                {% if user.is_authenticated %}
            </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
                
                <div class="video" id="f">
                    <p>شما به اولین مرحله ی آموزش ما رسیدید :</p>
                </br>
                    <video src="https://caspian5.cdn.asset.aparat.com/aparat-video/9ff72d1a91f7e839cfa1c3eb5e1aa7ee50412936-480p.mp4?wmsAuthSign=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6ImQ3ZmQ0YzY2YjE3OGVmZjA2OGM1NzIwMDA2YmZhMjVhIiwiZXhwIjoxNzA5NDA1NzQ4LCJpc3MiOiJTYWJhIElkZWEgR1NJRyJ9.zNucNUsVkBhgn0QpbvVyyf6lwAW4f4x5BVkwr-9fIpQ" type="video" controls="controls"></video>
                </div>
            </br></br>
                <div class="video" id="g">
                    <p>شما به دومین مرحله ی آموزش ما رسیدید :</p>
                </br>
                    <video src="https://as7.cdn.asset.aparat.com/aparat-video/5f44db28d045bff54c3941bb817cc7b132732665-480p.mp4?wmsAuthSign=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6IjRmODQ0Zjg5ZmMwMDhmNjQzZGVmZmFmODI5NWUyMzY3IiwiZXhwIjoxNzA5NDA1Nzg4LCJpc3MiOiJTYWJhIElkZWEgR1NJRyJ9.1yLjnq7YTvkZhsZ0UI34XTujX_Ip9ng0McG1Fmc01G8" type="video" controls="controls"></video>
                </div>
            </br></br>
                <div class="video" id="h">
                    <p>شما به سومین مرحله ی آموزش ما رسیدید :</p>
                </br>
                    <video src="https://hw20.cdn.asset.aparat.com/aparat-video/85b5c99ee857f8bdc0aee1371be8f1f032782066-480p.mp4?wmsAuthSign=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6IjQ5OTkyOTIzMzllZDliMTQwYjJiYzgxMTU3M2VhOGMyIiwiZXhwIjoxNzA5NDA1ODI1LCJpc3MiOiJTYWJhIElkZWEgR1NJRyJ9.go492TDqP9ca0KvHmrDAvN--hmJDcj4LoLTpQ30jTVk" type="video" controls="controls"></video>
                </div>
            </br></br>
                <div class="video" id="i">
                    <p>شما به چهارمین مرحله ی آموزش ما رسیدید :</p>
                </br>
                    <video src="https://hw16.cdn.asset.aparat.com/aparat-video/538bdb7b982bdb60895132a38bcf4bcf32798525-480p.mp4?wmsAuthSign=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6IjVhNGIyNDExYjk0ZmI2YTNhMmE4YjM1NzNjZjIwMDkxIiwiZXhwIjoxNzA5NDA1ODYwLCJpc3MiOiJTYWJhIElkZWEgR1NJRyJ9.jZyFm7pwUE_YlT3DYe6FzfbMQAQ67G7dmqPvTkhhqmM" type="video" controls="controls"></video>
                </div>
            </br></br>
                <div class="video" id="j">
                    <p>شما به پنجمین مرحله ی آموزش ما رسیدید :</p>
                </br>
                    <video src="https://hw14.cdn.asset.aparat.com/aparat-video/db330c96ef434385ad0985ccb815381a32834281-480p.mp4?wmsAuthSign=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6IjJjZGNiYTNkMTNmNDliZGI0N2RhMGU2ZTIyM2RkMzFhIiwiZXhwIjoxNzA5NDA1OTAwLCJpc3MiOiJTYWJhIElkZWEgR1NJRyJ9.I6jDRUk3ah6twG8OizyyZTXPCJgocLX6PWEQoXfIa0k" type="video" controls="controls"></video>
                </div>
            </br></br>
                <div class="video" id="k">
                    <p>شما به ششمین مرحله ی آموزش ما رسیدید :</p>
                </br>
                    <video src="https://hw15.cdn.asset.aparat.com/aparat-video/11889e6ae6dd72e3c7727fc3fdd3b3fb32919519-480p.mp4?wmsAuthSign=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6IjczMDkwZDQxNGE4MDI5Y2FkOGZmMzU0YjJkYmUwMWQyIiwiZXhwIjoxNzA5NDA1OTQ1LCJpc3MiOiJTYWJhIElkZWEgR1NJRyJ9.J1RvK4qtqhFx2_rxGMV8jXrxavLnrubyXYboXPdL3QE" type="video" controls="controls"></video>
                </div>
            </br></br>
                <div class="video" id="l">
                    <p>شما به هفتمین مرحله ی آموزش ما رسیدید :</p></br>
                    <video src="https://caspian4.cdn.asset.aparat.com/aparat-video/9df7451ca486b3eaac362821e8d544ba49283974-480p.mp4?wmsAuthSign=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6IjNkZTFhOTEyZDFhZDBjOTAyNjMxNzZjNDQ2MDc4NTU3IiwiZXhwIjoxNzA5NDA1OTg1LCJpc3MiOiJTYWJhIElkZWEgR1NJRyJ9.6qdoZgvl3dHsF-Y2oj0NVAJOj7B-C8oFfOjqgFNzqaM" type="video" controls="controls"></video>
                </div>
            </br></br>
                <div class="video" id="m">
                    <p>شما به هشتمین مرحله ی آموزش ما رسیدید :</p>
                </br>
                    <video src="https://as10.cdn.asset.aparat.com/aparat-video/7cb6dcef4ba5d26bc97fe8f385e318f032991037-480p.mp4?wmsAuthSign=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6IjJjMDA0ZWQ0MTNmYmRmMzk0MTYzY2NhZTU1MmFhNmY1IiwiZXhwIjoxNzA5NDA2MDIyLCJpc3MiOiJTYWJhIElkZWEgR1NJRyJ9.o8tUsyW8wpF9jTGaVO8pJTiUCX8ZKX9H4VMIgCVCACQ" type="video" controls="controls"></video>
                </div>
            </br></br>
                <div class="video" id="n">
                    <p>شما به نهمین مرحله ی آموزش ما رسیدید :</p>
                </br>
                    <video src="https://as10.cdn.asset.aparat.com/aparat-video/b8ee9450c1f48284acbd4d50d0ae496f33112948-480p.mp4?wmsAuthSign=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6IjU1NTlkYzE2YTM4ZjkzMGE2NmFhMDc5MDVlNzkxNTg0IiwiZXhwIjoxNzA5NDA2MDY2LCJpc3MiOiJTYWJhIElkZWEgR1NJRyJ9.u_oznih1utXx3oDKd8Pt_SY8nUsWY1ASl_XtKf8K8D4" type="video" controls="controls"></video>
                </div>
            </br></br>
                <div class="video" id="o">
                    <p>شما به دهمین مرحله ی آموزش ما رسیدید :</p>
                </br>
                    <video src="https://hw16.cdn.asset.aparat.com/aparat-video/e0dff312d3ab573121f72b0da6c6f8d233143621-480p.mp4?wmsAuthSign=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6ImQ2MmJiNWYwYmI4NjM4MDE1ZTY2YzI5NDU0NTFjZDY2IiwiZXhwIjoxNzA5NDA2MTExLCJpc3MiOiJTYWJhIElkZWEgR1NJRyJ9.R9mJ9aCaq0yIFLpn-sujJ0t4nTJXPb3aQ87Xov4tJkM" type="video" controls="controls"></video>
                </div>
            </br></br>
                <div class="video" id="p">
                    <p>شما به یازدهمین مرحله ی آموزش ما رسیدید :</p>
                </br>
                    <video src="https://hw3.cdn.asset.aparat.com/aparat-video/3dc4a4a5a0b234a16a71d207465faa4a33198863-480p.mp4?wmsAuthSign=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6ImY3NmNhNjk2OTAyODVmODRiYmFjMzg5MDQ1MGRlNzAwIiwiZXhwIjoxNzA5NDA2MTUwLCJpc3MiOiJTYWJhIElkZWEgR1NJRyJ9.dgAvr7YCIBN8zbLPadI8xFvNcDHwc5wPp4CjZFs6vRA" type="video" controls="controls"></video>
                </div>
            </br></br>
                <div class="video" id="q">
                    <p>شما به دوازدهمین مرحله ی آموزش ما رسیدید :</p>
                </br>
                    <video src="https://as9.cdn.asset.aparat.com/aparat-video/918a25df7d43cb477d7a650aefa96f6d33225948-480p.mp4?wmsAuthSign=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6IjQ4ZTdiNDVhMTk4OTllYmQ2ZjZlZDA0ZjA1ZDVhMDc4IiwiZXhwIjoxNzA5NDA2MTgyLCJpc3MiOiJTYWJhIElkZWEgR1NJRyJ9.5FmPWnUCqeDwrv5f8gmRfW55ZI6TZ6-Bsz1WTwo6zCI" type="video" controls="controls"></video>
                </div>
            </br></br>
                <div class="video" id="r">
                    <p>شما به سیزدهمین مرحله ی آموزش ما رسیدید :</p>
                </br>
                    <video src="https://as7.cdn.asset.aparat.com/aparat-video/b12f850217f6833c10b95c58245dad3433268907-480p.mp4?wmsAuthSign=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6IjgyNGE5YmFlM2JhYTc0ZjI4Y2EzMDkxYjYxMTNmMGExIiwiZXhwIjoxNzA5NDA2MjE2LCJpc3MiOiJTYWJhIElkZWEgR1NJRyJ9.BExGdvNIND7E_CFtOm92qtGklkCXIylFymu-26brjE0" type="video" controls="controls"></video>
                </div>
            
            </br></br>
            {% else %}
            {% endif %}
            </div>

    </main>

    <footer class="footer">
        <div class="ffooter">
            <div class="iconn">
                <img src="{% static './FilmPicture/Bale.png' %}" alt="">
                <h3>تیم ما</h3>
            </div>
            <div class="team">
                <h3>تیم ما</h3>
                <a href="{% url 'aboutus' %}">درباره ما</a>
            </div>
        </div>
        <div class="media">
            <div class="bale">
                <a href="#"><img src="{% static './FilmPicture/Bale.png' %}" alt=""></a>
            </div>
            <div class="telegram">
                <a href="#"><img src="{% static './FilmPicture/Telegram.jpg' %}" alt=""></a>
            </div>
        </div>
        <div class="c">
            <p>برای استفاده از مطالب ما، داشتن «هدف غیرتجاری» و ذکر «منبع» کافیست. تمام حقوق اين وب‌سايت نیز برای تیم ما است.</p>
        </div>
    </footer>

</body>

</html>