{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './style/reset_confirm.css' %}">
    <link rel="stylesheet" href="{% static './style/reset.css' %}">
    <link rel="stylesheet" href="{% static './style/font.css' %}">
    <title>password_reset_confirm</title>
</head>
<body>
    
    {% if validlink %}
    {% csrf_token %}
<form class="reset" method='POST'>
    {% csrf_token %}
    {{form.as_p}}
    <button>بازیابی رمز عبور</button>
</form>
{% else %}
<h1 class="bazyabi">رمز عبورتان بازیابی نشد</h1>
<a class="index" href="{% url 'index' %}">بازگشت به صفحه اصلی</a>
{% endif %}
</body>
</html>